.topnav {
  background: white;
  padding: 20px;
}
.topnav a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.title {
  text-align: center;
}
.news {
  text-align: center;
  margin-top: 20px;
}